<section style="padding:20px">
    <h1>Pago pendiente ╚(″⚈ᴗ⚈)╗ </h1>
    <div style="display:flex;flex-direction:column">
        <span>Id del método de pago: {{ payment_method_id }}</span>
        <span>Referencia externa: {{ external_reference }}</span>
        <span>Id del pago: {{ payment_id }}</span>
        <a style="margin-top:20px" href="/">
            <button class="mercadopago-button">
                Volver
            </button>
        </a>
    </div>
</section>